* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #242424;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #242424;
  padding: 1em 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background-color: #ffffff;
  font-family: cursive;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 1em;
  position: relative; /* Ensure relative positioning for dropdown */
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.navbar:hover .nav-link {
  color: #000000;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  width: 200px; /* Adjust width as needed */
  padding: 15px; /* Adjust padding as needed */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none; /* Remove bullet points */
}

.dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #000000;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.section {
  padding: 100px 20px;
  margin-top: 60px; 
  position: relative; /* Adjust positioning for responsiveness */
  left: 0;
  top: 0;
  text-align: center; /* Center align content */
}

.section h1 {
  font-size: 2em; /* Adjust font size for responsiveness */
  font-family: 'Times New Roman', serif;
}

.section p {
  font-size: 1em; /* Adjust font size for responsiveness */
  font-family: monospace;
}

.navbar.scrolled {
  background-color: rgba(51, 51, 51, 0.9);
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-menu {
    display: none; /* Hide nav menu */
    flex-direction: column; /* Stack items vertically */
    width: 100%; /* Full width for mobile menu */
    background-color: #242424; /* Background color for dropdown */
  }

  .nav-item {
    margin: 0;
    text-align: center; /* Center align items in the dropdown */
  }

  .nav-item.dropdown {
    position: static; /* Remove absolute positioning for dropdown */
  }

  .nav-item.dropdown .dropdown-menu {
    position: static; /* Remove absolute positioning for dropdown menu */
    width: 100%; /* Full width */
    box-shadow: none; /* Remove box shadow */
  }

  .nav-menu.active {
    display: flex; /* Show the menu when active */
  }

  .hamburger-menu {
    display: block; /* Show hamburger menu */
    cursor: pointer;
    font-size: 24px;
    color: white;
    text-align: center;
  }

  .hamburger-menu span {
    display: block;
  }
}
